.item {
  display: block;
  border: 3px solid #000000;
  padding: 0 20px;
  margin: 10px;
  border-radius: 10px
}

.item:after{
  content: "";
  display: block;
  clear: both;
}

.item .section1{
  float: left;
  width: 30%;
  text-align: center;
}

.item .section1 .name{
  font-size:25px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.item .section1 img{
  width: 100%;
  height: auto;
}

.item .section2{
  float: left;
  padding:10px 0px;
  text-align: left;
}

.item .section2 div {
  height: 100%;
  font-size: 20px;
  padding: 10px 0 0 40px;
}