body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  text-align: center;
}

.container {
  display: inline-block;
  margin: 50px;
  width: 400px;
  height: 800px;
  overflow-y: scroll;
  border: 10px solid #000000;
  border-radius: 10px;
}