.header {
  position: fixed;
  width: 400px;
  padding: 10px 0px;
  text-align: center;
  box-sizing: border-box;
  background-color: #000000;
}

.header::after{
  display: block;
  clear: both;
  content: '';
}

.header div:nth-child(1){
  float: left;
  width: 75%;
}

.header div:nth-child(1) input{
  box-sizing : border-box;
  width: 90%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 10px;
  line-height: -18px; 
}

.header div:nth-child(2){
  float: left;
  width: 22%;
}

.header div:nth-child(2) button {
  line-height: -18px; 
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  box-sizing : border-box;
  border-radius: 10px;
  outline: none;
}

